<body style="background-color:powderblue;">
<h1>List of Customers</h1>
<hr>
<% @customers.each do |customer| %>
    <h3><%= link_to customer.name, customer_path(customer) %></br></h3>
    <h3><%= customer.id%></br></h3>
<% end %>
</body>