<h3 style="padding:12px 24px;background-color:powderblue">Card Info</h3>
<hr>
<div style="background-color:#eeeeee;padding:6px 24px">
Card Name:<%= @card.name %></br>
Bank: <%= @card.bank.name %></br>
</div>