<<<<<<< HEAD
<h1> Transaction Record </h1>
<hr>
=======
<% @transactions.each do |tran| %>
    <%= tran.customer.name %>
    <%= tran.amount %><br>
    <% end %>
>>>>>>> 263b9635f45fcfeda0948c6d5760addc026a6301
